[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-ruby-refactoring"]
	path = vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/vroom"]
	path = vim/bundle/vroom
  url = https://github.com/skalnik/vim-vroom.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/vim-blockle"]
	path = vim/bundle/vim-blockle
	url = https://github.com/jgdavey/vim-blockle.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/emmet"]
	path = vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
